<div class="container">
	<h3 data-ng-controller="profileController as profileCtrl">
		Welcome <strong>{{profileCtrl.user.username}}</strong>
	</h3>
	<div data-ng-controller="loginController as logOutCtrl">
		<a class="btn btn-danger pull-right" href="#/home" data-ng-click="logOutCtrl.logOut()">
			Log out
		</a>
	</div>
	<div data-ng-controller="tabsController as tabsCtrl">
		<ul class="nav nav-tabs">
			<li data-ng-repeat="tab in tabsCtrl.tabs"
				data-ng-class="{active:tabsCtrl.isActiveTab(tab.url)}" >
	                <a href="#/home" data-ng-click="tabsCtrl.onClickTab(tab)" >
	                	{{tab.title}}
	                </a>
	            </li>
		</ul>
	
		<div data-ng-include data-src="tabsCtrl.currentTab"></div>
	</div>
</div>
