<div class="container">	
	<div class="row">		
		
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="list-group">
				<a href="#" class="list-group-item">
					Retiros
				</a>
				<a href="#" class="list-group-item">
					Depositos
				</a>
				<a href="#" class="list-group-item">
					Movimientos
				</a>
			</div>
		</div>
		<div class="col-md-7">
			<h3>Welcome <strong>{{user.username}}</strong></h3>
		</div>
		<div class="col-md-2">
			<a class="btn btn-warning pull-right" href="#/logout/"><strong>Log out</strong></a>
		</div>
	</div>
</div>
